<head>
  <title>Plot Trend</title>
</head>
{% extends 'webtech_app/base.html' %}
{% block body_block %}
<head>
    <style>
      body{
            background-color: azure;
        }
        .container{
            background-color: whitesmoke;
            padding-top: 30px;
            padding-bottom: 20px;
            margin-bottom: 10%;
            padding-left: 5%;
            padding-right: 5%;
            border-radius: 50px;
        }
      #submit_btn{
        /* margin-left: 25%; */
        width: 25%;
        border-radius: 30px;
      }
      #img{
        padding-left: 20px;
      }
    </style>
</head>
<body>
  <section class="nav_bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
      <a class="navbar-brand me-2" href="#">
        <img
          src="https://i.pinimg.com/736x/3d/87/47/3d8747cb5e98c8d7856479ed428c07ed.jpg"
          height="36"
          alt="MDB Logo"
          loading="lazy"
          style="margin-top: -1px;"
          id="img"
        />
      </a>
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
      </div>
    </nav>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}
  </section>
    <br>
    <div class="container">
      <form method="POST" action="{%url 'generate'%}" >
        {% csrf_token %}
        <div class="row mb-4">
          <div class="col">
            <select name="analysis_type" class="form-select" aria-label="Default select example" required>
              <option value="BOLLINGER">BOLLINGER BANDS</option>
              <option value="MACD">MACD</option>
              <option value="MOV_AVG">Simple Moving Averages</option>
            </select>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input name="Period1" type="number" id="form6Example1" class="form-control"  required/>
              <label class="form-label" for="form6Example1">Period 1</label>
            </div>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input name="Period2" type="number" id="form6Example1" class="form-control"  required/>
              <label class="form-label" for="form6Example1">Period 2</label>
            </div>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input name="Period3" type="number" id="form6Example1" class="form-control"  required/>
              <label class="form-label" for="form6Example1">Period 3</label>
            </div>
          </div>
          <div class="col">
            <select name="select1" class="form-select" aria-label="Default select example" required>
              <!-- <option selected></option required> -->
              <option value="NIFTY">NIFTY</option>
              <option value="BANKNIFTY">BANKNIFTY</option>
              <option value="FINNIFTY">FINNIFTY</option>
            </select>
          </div>
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
          <select name="select2" class="form-select" aria-label="Default select example" required>
            <option value="FUT">FUT</option>
            <option value="EQ">EQ</option>
          </select>
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
          <select name="select3" class="form-select" aria-label="Default select example" required>
            <option value="Open">Open</option>
            <option value="High">High</option>
            <option value="Low">Low</option>
            <option value="Close">Close</option>
          </select>
        </div>
        <label class="form-label" for="form6Example1">Start date</label>
        <div data-mdb-input-init class="form-outline mb-4">
          <input name="start_date" type="date" id="form6Example1" class="form-control" required/>
        </div>  
        <label class="form-label" for="form6Example1">End date</label>
        <div data-mdb-input-init class="form-outline mb-4">
          <input name="end_date" type="date" id="form6Example1" class="form-control" required/>
        </div>
        <input id="submit_btn" data-mdb-ripple-init type="submit"  class="btn btn-primary btn-block mb-4" value="Generate" >
      </form>
    </div>        
</body>
{% endblock %}